*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background-color: #1D40B5;
    color: white;
    margin: 10px;
    padding: 10px;
}

header h1 a{
    color: white;
    text-decoration: none;
}
.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.container-img .box-img figure{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;

}

@media screen and (max-width:800px){
    .container-img{
       width: 95%; 
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 10px;
       grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:600px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }

}