.navbar{
    background-color:#181733  ;
    color: white;
}
.navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.btn-secondary {
    color: #fff;
    background-color: #A01721;
    border-color: #13177E;
    margin: 5px;
}
.navbar-light .navbar-brand {
    color: white;
    font-size: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 255px;
}
@media screen and (max-width:800px){
    footer{
        margin-top: 50px;
    }
}
@media screen and (max-width:600px){
    footer{
        margin-top: 100px;
    }
}